[submodule "lib/basejs"]
	path = lib/basejs
	url = https://github.com/aucguy/basejs
[submodule "lib/canvg"]
	path = lib/canvg
	url = https://github.com/aucguy/canvg
[submodule "lib/phaser"]
	path = lib/phaser
	url = https://github.com/aucguy/phaser
[submodule "lib/javascript-state-machine"]
	path = lib/javascript-state-machine
	url = https://github.com/aucguy/javascript-state-machine.git
